body {
    font-family: Arial, Helvetica, sans-serif
}

.book {
    display: flex;
    border: 2px solid black;
    width: 940px;
    margin: 100px auto;
    justify-content: space-evenly;
}

.article {
    width: 480px
}

.title {
    font-weight: lighter;
}
.breadcrumbs {
    color: #565959;
}
.main-img {
    box-shadow: 0px 2px 5px lightgray;
    width: 380px;
}

.ratings {
    width: 100px
}

.author {
    color: #007185;
}